<h1>Convert <%= @original_currency%> to <%= @destination_currency %> </h1>

1 <%= @original_currency%> equals <%= @rate %> <%= @destination_currency%>. <br><br>



Go <a href="/<%= @original_currency %>">back</a>.
